.Data{
 margin-top:5vh;
 display:flex;
 flex-direction:column;
 font-family:serif;
 color:2D2A32;
}
.ImageCont{
 max-width:100vw;
 z-index:-1;
 position:relative;
}
.Image{
 Object-fit:cover;
 max-width:100%;
}
.Name{
 position:absolute;
 border:solid red;
 font-size:6vh;
 right:0vh;
 left:0vh;
 bottom:25%;
 width:100vw;
 text-align:center;
}
