.Pages{
 border-radius:25px 25px 0 0;
 background-color:white;
}
.App{
background-image:url(https://wallpapercave.com/wp/wp3538012.jpg);
 background-repeat:no-repeat;
 background-attachment:fixed;
 background-size:cover;
}
