.Slider{
margin-top:3vh;
margin-bottom:3vh;
text-align:center;
font-family:serif;
color:#2D2A32;
font-size:2.5vh;
}
.Change{ 
padding:0.2vh 1vh;
margin:0 0.1vh;
background-color:#FAFDF6;
border:solid #2D2A32;

}
.Selected{
background-color:#2D2A32;
color:#EAE151;
border:solid #2D2A32;
padding:0.2vh 1vh;
margin:0 0.1vh;
}
.Change:hover{
 background-color:#2D2A32;
 color:#EAE151;
}
.Change:active{
 background-color:#FAFDF6;
 color:#2D2A32;
 animation-name:change-size;
 animation-duration:0.1s;
}
@keyframes change-size{
 0%{font-size:2.5vh;}
 50% {font-size:2vh;}
 100% {font-size:2.5vh;}
}
